@import "partials/vars";
@import "assets/bower_components/normalize-scss/_normalize.scss";
@import "partials/html5bp";
@import "assets/bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "assets/bower_components/neat/app/assets/stylesheets/_neat.scss";
@import "partials/custom_fonts";

body{
	background: whitesmoke;
}

.container{
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}

.branding{
  margin: 0 auto;
  display: block;
}

@import "partials/print";
